* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Avenir Next, Arial, sans-serif;
}

#firstPanel {
  height: 810px;
  width: 100%;
  background: url('wall-blur.png') no-repeat center;
  background-size: 101% 101%;
  position: relative;
  text-align: center;
}

#top_nav {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.6);
}

ul {
  list-style: none;
  font-size: 0;
}

li, a {
  width: 200px;
  font-size: 26px;
  line-height: 80px;
}

li {
  display: inline-block;
  vertical-align: top;
  color: #666;
}

.dropdown {
  display: none;
  background-color: rgba(97, 227, 197, 0.3);
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

li:hover {
  background-color: rgba(97, 227, 197, 0.5);
  color: #fff;
}

li:hover .dropdown {
  display: block;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(97, 227, 197);
}

h1 {
  font-size: 100px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 260px;
}

span {
  margin-right: 5px;
  padding: 0 5px 0 8px;
  border: 10px solid rgba(255, 255, 255, 0.6);
}

#secondPanel {
  height: 800px;
  width: 100%;
  margin-top: -10px;
  background-color: #ddd;
  position: relative;
  z-index: 1;
}